{% extends "layout/base.html" %}

{% block 'title'%} Mantenimientos Correctivos {% endblock %}


{% block 'content' %}
<div class="container mb-5">
    <div class="d-flex p-2 justify-content-between">
        <a class="text-decoration-none text-dark flecha-atras" href="{% url "detalles_pc" id=pc.id %}">
            <i class="bi bi-arrow-left fs-1"></i>
        </a>
        <span class="p-3">
            
            <button type="button" class="btn bg-body-tertiary descargar shadow rounded-pill" data-bs-toggle="modal" data-bs-target="#modal-descargar">
                Descargar <i class="bi bi-box-arrow-down "></i>
            </button>
            <div class="modal fade" id="modal-descargar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Descargar </h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form class="" action="{% url 'documento_mantenimientos_correctivos_pc' id=pc.id %}" method="get">
                            <label class="" for="mes">Mes:</label>
                            <select class="form-select form-select-sm" name="mes" id="mes">
                                <option value="">Todos los meses</option>
                                <option value="1">Enero</option>
                                <option value="2">Febrero</option>
                                <option value="3">Marzo</option>
                                <option value="4">Abril</option>
                                <option value="5">Mayo</option>
                                <option value="6">Junio</option>
                                <option value="7">Julio</option>
                                <option value="8">Agosto</option>
                                <option value="9">Septiembre</option>
                                <option value="10">Octubre</option>
                                <option value="11">Noviembre</option>
                                <option value="12">Diciembre</option>
                            </select>
                            <label class="" for="anio">Año:</label>
                            <select class="form-select form-select-sm" name="anio" id="anio">
                                <option value="2024">2024</option>
                                <option value="2025">2025</option>
                                <option value="2026">2026</option>
                                <option value="2027">2027</option>
                                <option value="2028">2028</option>
                                <option value="2029">2029</option>
                                <option value="2030">2030</option>
                            </select>
                            
                            <div class="d-grid gap-2 mt-3">
                                <button type="submit" value="Submit" class="btn btn-secondary">Descargar <i class="bi bi-box-arrow-down"></i></button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                    </div>
                </div>
            </div>

            <a class="btn bg-body-tertiary mantenimineto shadow rounded-pill" href="{% url "nuevo_mantenimiento_pc_correctivo" id=pc.id %}">Mantenimiento <i class="bi bi-tools"></i></a>
        </span>
    </div>

    <h3 class="text-uppercase">Mantenimientos {{ tipo_mantenimiento }} de {{ pc }}</h3>
    <div class="table-responsive">
    <table class="table table-striped shadow">
        <thead>
            <tr class="border border-end-0 border-start-0 border-top-0 border-3 border-dark-subtle">
                <th>Fecha inicio</th>
                <th>Hora inicio</th>
                <th>Fecha final</th>
                <th>Hora final</th>
                <th>Operador</th>
                <th>Partes y Piezas</th>
                <th>Descripción</th>
                <th>Imagen</th>
                <th>Modificar</th>
                <th>Eliminar<th>
            </tr>
        </thead>
        <tbody>
            {% for mantenimiento in mantenimientos %}
                <tr>
                    <td>{{ mantenimiento.fecha_inicio }}</td>
                    <td>{{ mantenimiento.hora_inicio }}</td>
                    <td>{{ mantenimiento.fecha }}</td>
                    <td>{{ mantenimiento.hora }}</td>
                    <td>{{ mantenimiento.operador }}</td>
                    <td>{{ mantenimiento.partes_y_piezas }}</td>
                    <td>{{ mantenimiento.descripción }}</td>
                    <td>
                        <button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal{{ mantenimiento.id }}">
                            <i class="bi bi-image"></i>
                        </button>
                        <div class="modal fade" id="exampleModal{{ mantenimiento.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Imagen</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <img src="{{ mantenimiento.image.url }}" class="img-fluid" alt="Imagen">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <a class="btn btn-info btn-sm" href="{% url "mod_mantenimiento_pc_correctivo" id=mantenimiento.id %}"><i class="bi bi-pencil-square"></i></a>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#modal-eliminar{{ mantenimiento.id }}">
                            <i class="bi bi-trash"></i>
                        </button>
                        <div class="modal fade" id="modal-eliminar{{ mantenimiento.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Atención</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Esta seguro de <b>eliminar</b> este mantenimiento</b>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                    <a class="btn btn-danger" href="{% url "eliminar_mantenimiento_pc" id=mantenimiento.id %}">Estoy seguro</a>
                                </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>

</div>

{% endblock %}
