{% extends "layout/base.html" %}

{% block 'title'%} Equipos de cómputo {% endblock %}

{% block 'search' %}
<form class="d-flex form-inline mr-auto ml-md-3 my-2 my-md-0 ms-3 me-3 mw-100 navbar-search" role="search" action="" method='GET'>
    <div class="input-group">
        <input class="form-control bg-light border-0 small" id="search-input" name="search" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
            <button class="btn barra text-light" type="submit">
                <i class="bi bi-search"></i>
            </button>
        </div>
    </div>
</form>
{% endblock 'search' %}

{% block 'content' %}

<div class="container">

    <div class="d-flex p-2 justify-content-between">
        <a class="text-decoration-none text-dark flecha-atras" href="{% url "index" %}">
            <i class="bi bi-arrow-left fs-1"></i>
        </a>
        <h5 class="text-center text-dark text-uppercase mt-auto mb-auto mas">Cantidad total de equipos de cómputo "{{ total_pcs }}"</h5>
        <div class="pt-2 me-3 me-md-0">
            <a class="ms-1 fs-3 me-1 me-md-4 text-decoration-none text-secondary mas" href="{% url "pc_nueva" %}">
                <i class="bi bi-plus-circle"></i>
            </a>        
            <a class="ms-1 fs-3 me-1 me-md-4 text-decoration-none text-success tabla" href="{% url "pc_tabla_mantenimientos" %}">
                <i class="bi bi-inboxes"></i>
            </a>
            <a type="button" class="btn btn-tranparent position-relative p-0 mb-0 me-1 me-md-5 alert" href="{% url "pc_alertas" %}">
                <i class="bi bi-bell-fill fs-3 text-warning"></i>
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    {{ total_alertas }}+
                    <span class="visually-hidden">unread messages</span>
                </span>
            </a>
        </div>
    </div>

    <div class="container cabecera shadow bg-primary bg-opacity-50">
    </div>

    <div class="row mt-5 d-flex justify-content-center align-item-center ps-5 pe-5">
        {% for pc in pcs %}
        <div class="col-12 col-md-3 card carta-home p-0 m-3">
            <a class="text-decoration-none text-dark" href="{% url "detalles_pc" id=pc.id %}">
                <img src="{{ pc.image.url }}" class="card-img-top" alt="..." style="max-height: 200px;">
                <div class="card-body">
                    <h5 class="card-title">{{ pc.nombre }}</h5>
                    <p class="card-text m-0"><b>Modelo:</b> {{ pc.modelo }}</p>
                    <p class="card-text m-0"><b>Número de inventario:</b> {{ pc.número_de_inventario }}</p>
                    <p class="card-text m-0"><b>Ubicación:</b> {{ pc.ubicación }}</p>
                    <p class="card-text m-0"><b>Ultimo mantenimiento:</b> {{ pc.fecha_ultimo_mantenimiento }}</p>
                </div>      
            </a>
        </div>
        {% endfor %}
    </div>

</div>

{% endblock %}
