{% extends "layout/base.html" %}

{% block 'title'%} Nueva Herramienta {% endblock %}

{% block 'styles' %}
{% load static %}
<link rel="stylesheet" href="{% static "css/forms.css" %}">
{% endblock 'styles' %}

{% block 'search' %}
<form class="d-flex form-inline mr-auto ml-md-3 my-2 my-md-0 ms-3 me-3 mw-100 navbar-search" role="search" action="" method='GET'>
    <div class="input-group">
        <input class="form-control bg-light border-0 small" id="search-input" name="search" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
            <button class="btn barra text-light" type="submit">
                <i class="bi bi-search"></i>
            </button>
        </div>
    </div>
</form>
{% endblock 'search' %}

{% block 'content' %}

<div class="container mb-5">
    <div class="d-flex p-2 justify-content-between">
        <a class="text-decoration-none text-dark" href="{% url "herramienta" %}">
            <i class="bi bi-arrow-left fs-1"></i>
        </a>
    </div>
    
    <h2 class="text-center">Nueva herramienta</h2>
    <div class="d-flex justify-content-center align-items-center">

        <form class="p-5 rounded-3 bg-body-tertiary sombra-login" action="{% url "herramienta_nueva" %}" method='POST' enctype="multipart/form-data">
            {% csrf_token %}
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <div {% if message.tags %} class="alert alert-primary alerta" role="alert"{% endif %}>{{ message }}</div>
                    {% endfor %}
                </ul>
            {% endif %}
            <table>
                {{ form }}
            </table>
            <div class="d-grid gap-2 mt-3">
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </form>

    </div>

</div>

{% endblock %}