:root{
    --color-primary: #2ea3f2;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #fafafa;
}

.barra{
    background-color: blue;
}
.icono-persona{
    color: blue;
}

.lista-menu:hover {
    color:rgb(55, 247, 7) !important;
}

.carta-home{
    box-shadow: rgb(0, 0, 255) 10px 10px 20px 5px;
}

.carta-home:hover {
    background-color:rgb(188, 208, 247) !important;
}
.carta-home a :hover {
    color: black !important;
}

.footer{
    background-color: #e9eceF;
}