:root{
    --color-primary: #2ea3f2;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #caccce;
}

.prueba{
    background-image: url("../images/login.jpg");
    min-height: 788px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-color: #ffffff;
    background-blend-mode: multiply;
}

.barra{
    background-color: blue;
}
.icono-persona{
    color: blue;
}

.lista-menu:hover {
    color:rgb(55, 247, 7) !important;
}

.cabecera{
    height: 200px;
    max-width: 1240px;
    background-image: url("../images/login.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-blend-mode: multiply;
}

.carta-home{
    box-shadow: rgb(0, 0, 255) 5px 5px 12px 2px;
    background-color: #e9ecef;
}

.carta-home:hover {
    background-color:rgb(188, 208, 247) !important;
    color: black !important;
}
.carta-home a :hover {
    color: black !important;
}

.footer{
    background-color: #aaadaf;
}