:root{
    --color-primary: #6c757d;
    --color-secondary: #212529;
    --footer: #aaadaf;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ffffff;
}

.prueba{
    background-image: url("../images/login.jpg");
    min-height: 788px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-color: #ffffff;
    background-blend-mode: multiply;
}

.barra{
    background-color: var(--color-secondary);
}

.boton-menu{
    background-color: blue;
}
.boton-menu:hover{
    background-color: blue;
}

ul {
    list-style-type: none;
}

.icono-persona{
    color: var(--color-primary);
}

.lista-menu:hover {
    color:rgb(55, 247, 7) !important;
}

.cabecera{
    height: 200px;
    max-width: 1240px;
    background-image: url("../images/login.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-blend-mode: multiply;
}

.header-index{
    height: 300px;
    background-image: url("../images/login.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-blend-mode: multiply;
}



.carta-home:hover {
    background-color: var(--color-secondary) !important;
    color: white !important;
}
.carta-home a :hover {
    color: white !important;
}

.footer{
    background-color: var(--footer);
}