{% extends "layout/base.html" %}

{% block 'title'%} Area {% endblock %}

{% block 'content' %}

<div class="container">
    <div class="d-flex p-2 justify-content-between">
        <a class="text-decoration-none text-dark" href="{% url "index" %}">
            <i class="bi bi-arrow-left fs-1"></i>
        </a>    
        <button type="button" class="btn btn-tranparent position-relative p-0 mt-3 mb-0 me-5">
            <i class="bi bi-bell-fill fs-3 text-warning"></i>
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                99+
                <span class="visually-hidden">unread messages</span>
            </span>
        </button>
    </div>

</div>

{% endblock %}