{% extends "layout/base.html" %}

{% block 'title'%} Detalles Area {% endblock %}

{% block 'content' %}
<div class="container mb-5">
    <div class="d-flex p-2 justify-content-between">
        <a class="text-decoration-none text-dark" href="{% url "area" %}">
            <i class="bi bi-arrow-left fs-1"></i>
        </a>
        <span class="p-3">
            <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#modal-mantenimiento">
                Mantenimiento <i class="bi bi-tools"></i>
            </button>
            <div class="modal fade modal-lg" id="modal-mantenimiento" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Nuevo mantenimineto para <b>{{ area.nombre }}</b></h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form class="p-5 rounded-3 bg-body-tertiary sombra-login" action="{% url "detalles_area" id=area.id %}" method='POST'>
                                {% csrf_token %}
                                <table>
                                    {{ form_mantenimiento }}
                                </table>
                                <div class="d-grid gap-2 mt-3">
                                    <button type="submit" class="btn btn-warning">Guardar</button>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
            
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modal-editar">
                Editar <i class="bi bi-pencil-square"></i>
            </button>
            <div class="modal fade modal-lg" id="modal-editar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Editar <b>{{ area.nombre }}</b></h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form class="p-5 rounded-3 bg-body-tertiary sombra-login" action="{% url "detalles_area" id=area.id %}" method='POST'>
                                {% csrf_token %}
                                <table>
                                    {{ form }}
                                </table>
                                <div class="d-grid gap-2 mt-3">
                                    <button type="submit" class="btn btn-primary">Guardar</button>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
            
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modal-eliminar">
                Eliminar <i class="bi bi-trash"></i>
            </button>
            <div class="modal fade" id="modal-eliminar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Atención</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Esta seguro de <b>eliminar</b> el area <b>"{{ area.nombre }}"</b>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <form method="post" action="{% url "eliminar_area" id=area.id %}">
                            {% csrf_token %}
                            <input type="hidden" name="area_id" value="{{ area.id }}">
                            <button class="btn btn-danger" type="submit">Estoy seguro</button>
                        </form>
                    </div>
                    </div>
                </div>
            </div>
        </span>
    </div>
    
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <div {% if message.tags %} class="alert alert-primary alerta" role="alert"{% endif %}>{{ message }}</div>
            {% endfor %}
        </ul>
    {% endif %}
    
    <h3>Datos</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Tamaño</th>
                <th scope="col">Encargado</th>
                <th scope="col">Teléfono_encargado</th>
                <th scope="col">Descripción</th>
                <th scope="col">Ubicación</th>
                <th scope="col">Capacidad</th>
                <th scope="col">Tipo de área</th>
                <th scope="col">Estado de ocupación</th>
                <th scope="col">Intervalo mantenimiento</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ area.nombre }}</td>
                <td>{{ area.tamaño }}</td>
                <td>{{ area.encargado }}</td>
                <td>{{ area.teléfono_encargado }}</td>
                <td>{{ area.descripción }}</td>
                <td>{{ area.ubicación }}</td>
                <td>{{ area.capacidad }}</td>
                <td>{{ area.tipo_de_área }}</td>
                <td>{{ area.estado_de_ocupación }}</td>
                <td>{{ area.intervalo_mantenimiento }}</td>
            </tr>
        </tbody>
    </table>

    <h3>Mantenimientos</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Hora</th>
                <th>Tipo</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <ul>
                        {% for mantenimiento in area.mantenimientoarea_set.all %}
                        <li>{{ mantenimiento.fecha }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <ul>
                        {% for mantenimiento in area.mantenimientoarea_set.all %}
                        <li>{{ mantenimiento.hora }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <ul>
                        {% for mantenimiento in area.mantenimientoarea_set.all %}
                        <li>{{ mantenimiento.tipo }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

</div>

{% endblock %}