{% extends "layout/base.html" %}

{% block 'title'%} Soporte {% endblock %}

{% block 'content' %}

<div class="container">
    <div class="d-flex p-2 justify-content-between">
        <a class="text-decoration-none text-dark" href="{% url "area" %}">
            <i class="bi bi-arrow-left fs-1"></i>
        </a>
    </div>

    <div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Guardar Mantenimiento">
        </form> 
    </div>

</div>

{% endblock %}