{% extends "layout/base.html" %}

{% block 'title'%} Tablas de mantenimineto {% endblock %}

{% block 'search' %}
<form class="d-flex form-inline mr-auto ml-md-3 my-2 my-md-0 ms-3 me-3 mw-100 navbar-search" role="search" action="" method='GET'>
    <div class="input-group">
        <input class="form-control bg-light border-0 small" id="search-input" name="search" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
            <button class="btn barra text-light" type="submit">
                <i class="bi bi-search"></i>
            </button>
        </div>
    </div>
</form>
{% endblock 'search' %}

{% block 'content' %}

<div class="container">
    <div class="d-flex p-2 justify-content-between">
        <a class="text-decoration-none text-dark" href="{% url "area" %}">
            <i class="bi bi-arrow-left fs-1"></i>
        </a>
        
        <form class="d-flex mt-auto mb-auto" action="{% url 'generar_documento_mantenimientos_general_area' %}" method="get" style="max-height: 50px; min-width: 600px;">
          <label class="mt-auto mb-auto m-1" for="tipo_mantenimiento">Tipo:</label>
            <select class="form-select form-select-sm m-1" name="tipo_mantenimiento" id="tipo_mantenimiento">
                <option value="">Todos los tipos de mantenimiento</option>
                {% for tipo_mantenimiento in tipos_mantenimiento %}
                    <option value="{{ tipo_mantenimiento.id }}">{{ tipo_mantenimiento.tipo }}</option>
                {% endfor %}
            </select>
          <label class="mt-auto mb-auto m-1" for="mes">Mes:</label>
          <select class="form-select form-select-sm m-1" name="mes" id="mes">
            <option value="">Todos los meses</option>
            <option value="1">Enero</option>
            <option value="2">Febrero</option>
            <option value="3">Marzo</option>
            <option value="4">Abril</option>
            <option value="5">Mayo</option>
            <option value="6">Junio</option>
            <option value="7">Julio</option>
            <option value="8">Agosto</option>
            <option value="9">Septiembre</option>
            <option value="10">Octubre</option>
            <option value="11">Noviembre</option>
            <option value="12">Diciembre</option>
          </select>
          <label class="mt-auto mb-auto m-1" for="anio">Año:</label>
          <select class="form-select form-select-sm m-1" name="anio" id="anio">
              <option value="2024">2024</option>
              <option value="2025">2025</option>
              <option value="2026">2026</option>
              <option value="2027">2027</option>
              <option value="2028">2028</option>
              <option value="2029">2029</option>
              <option value="2030">2030</option>
          </select>
          <button type="submit" value="Submit" class="btn btn-success d-flex m-1">Descargar  <i class="bi bi-box-arrow-down mt-auto mb-auto"></i></button>
        </form>
    </div>

    <table class="table mt-4">
      <tr>
        <th>Areas</th>
        <th>Descripción corta</th>
      </tr>
      {% for area in areas %}
      <tr>
        <td>{{ area.nombre }}</td>
        <td>
          <ul class="list-group list-group-flush">
            {% for mantenimiento in area.mantenimientos %}
            <li class="list-group-item">*<b>Fecha de inicio</b> {{ mantenimiento.fecha_inicio }} - {{ mantenimiento.hora_inicio }}, <b>fecha de fin</b> {{ mantenimiento.fecha }} - {{ mantenimiento.hora }}, <b>tipo de mantenimiento</b> - {{ mantenimiento.tipo }}*</li>
            {% endfor %}
          </ul>
        </td>
      </tr>
      {% endfor %}
    </table>
    
      


</div>

{% endblock %}