{% extends "layout/base.html" %}

{% block 'title'%} Alertas de Area {% endblock %}

{% block 'content' %}

<div class="container">
    <div class="d-flex p-2 justify-content-between">
        <a class="text-decoration-none text-dark" href="{% url "area" %}">
            <i class="bi bi-arrow-left fs-1"></i>
        </a>
        
        <form class="d-flex mt-auto mb-auto" action="{% url 'generar_documento_mantenimientos_por_mes' %}" method="get" style="max-height: 50px; min-width: 600px;">
          <label class="mt-auto mb-auto m-1" for="mes">Mes:</label>
          <select class="form-select form-select-sm m-1" name="mes" id="mes">
            <option value="">Todos los meses</option>
            <option value="1">Enero</option>
            <option value="2">Febrero</option>
            <option value="3">Marzo</option>
            <option value="4">Abril</option>
            <option value="5">Mayo</option>
            <option value="6">Junio</option>
            <option value="7">Julio</option>
            <option value="8">Agosto</option>
            <option value="9">Septiembre</option>
            <option value="10">Octubre</option>
            <option value="11">Noviembre</option>
            <option value="12">Diciembre</option>
          </select>
          <label class="mt-auto mb-auto m-1" for="anio">Año:</label>
          <select class="form-select form-select-sm m-1" name="anio" id="anio">
              <option value="2023">2023</option>
              <option value="2024">2024</option>
              <option value="2025">2025</option>
              <option value="2026">2026</option>
              <option value="2027">2027</option>
              <option value="2028">2028</option>
              <option value="2029">2029</option>
              <option value="2030">2030</option>
          </select>
          <button type="submit" value="Submit" class="btn btn-success d-flex m-1">Descargar  <i class="bi bi-box-arrow-down mt-auto mb-auto"></i></button>
        </form>
    </div>

    <table class="table  mt-4">
        <tr>
          <th>Areas</th>
          <th>Datos de Mantenimiento</th>
        </tr>
        {% for area in areas %}
        <tr>
          <td>{{ area.nombre }}</td>
          <td>
            <ul class="list-group list-group-flush">
              {% for mantenimiento in area.mantenimientoarea_set.all.reverse %}
              <li class="list-group-item">|{{ mantenimiento.fecha }} - {{ mantenimiento.hora }} - {{ mantenimiento.tipo }}|</li>
              {% endfor %}
            </ul>
          </td>
        </tr>
        {% endfor %}
      </table>
      


</div>

{% endblock %}