{% extends "layout/base.html" %}
{% load static %}

{% block 'title'%} Index {% endblock %}

{% block 'search' %}
<form class="d-flex form-inline mr-auto ml-md-3 my-2 my-md-0 ms-3 me-3 mw-100 navbar-search" role="search" action="" method='GET'>
    <div class="input-group">
        <input class="form-control bg-light border-0 small" id="search-input" name="search" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
            <button class="btn barra text-light" type="submit">
                <i class="bi bi-search"></i>
            </button>
        </div>
    </div>
</form>
{% endblock 'search' %}

{% block 'content' %}
    <div class="header-index bg-primary bg-opacity-50 d-flex justify-content-center align-items-center">
        <img class="logo-portada" src="{% static "images/Innovaplast.png" %}" alt="Innovaplast">
    </div>
    <p class="text-center mt-2 mb-0 p-4 p-md-2 fst-italic">Lo que nos diferencia como compañía es que queremos dar soluciones a cualquiera que tenga nuestro producto, sin importar dónde lo compró.</p>
    <div class="row">
        <img class="col-12 col-md-4 order-1 mt-4" src="{% static "images/soga.png" %}" alt="Innovaplast" style="max-height: 300px;">
        <img class="col-12 col-md-4 order-md-2 order-last" src="{% static "images/flor.png" %}" alt="Innovaplast" style="max-height: 400px;">
        <img class="col-12 col-md-4 order-3 mt-4" src="{% static "images/malla.png" %}" alt="Innovaplast" style="max-height: 300px;">
    </div>

{% endblock %}