{% extends "layout/base.html" %}

{% block 'title'%} Index {% endblock %}

{% block 'search' %}
<form class="d-flex form-inline mr-auto ml-md-3 my-2 my-md-0 ms-3 me-3 mw-100 navbar-search" role="search" action="" method='GET'>
    <div class="input-group">
        <input class="form-control bg-light border-0 small" id="search-input" name="search" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
            <button class="btn barra text-light" type="submit">
                <i class="bi bi-search"></i>
            </button>
        </div>
    </div>
</form>
{% endblock 'search' %}

{% block 'content' %}
<div class="container">

</div>   
{% endblock %}