{% extends "layout/base.html" %}

{% block 'title'%} Index {% endblock %}

{% block 'search' %}
{% endblock 'search' %}

{% block 'content' %}
<div class="container">
<div class="row mt-5 d-flex justify-content-center align-item-center">
    <div class="col-3 card text-bg-secondary carta-home m-3" style="min-height: 240px;">
        <a class="text-decoration-none text-light" href="{% url "area" %}">
        <div class="card-header">Areas</div>
        <div class="card-body">
            <h5 class="card-title">Limpieza y Control</h5>
            <p class="card-text">Llevar a cabo el control de la limpieza y mantenimiento de las areas del centro.</p>
        </div>
        </a>
    </div>
    <div class="col-3 card text-bg-primary carta-home m-3" style="min-height: 240px;">
        <div class="card-header">Maquinarias</div>
        <div class="card-body">
            <h5 class="card-title">Secondary card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up.</p>
        </div>
    </div>
    <div class="col-3 card text-bg-success carta-home m-3" style="min-height: 240px;">
        <div class="card-header">Componentes</div>
        <div class="card-body">
            <h5 class="card-title">Success card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up.</p>
        </div>
    </div>
    <div class="col-3 card text-bg-danger carta-home m-3" style="min-height: 240px;">
        <div class="card-header">Vehículos</div>
        <div class="card-body">
            <h5 class="card-title">Danger card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up.</p>
        </div>
    </div>
    <div class="col-3 card text-bg-warning carta-home m-3" style="min-height: 240px;">
        <div class="card-header">Equipos de Cómputo</div>
        <div class="card-body">
            <h5 class="card-title">Warning card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up.</p>
        </div>
    </div>
    <div class="col-3 card text-bg-info carta-home m-3" style="min-height: 240px;">
        <div class="card-header">Herramientas</div>
        <div class="card-body">
            <h5 class="card-title">Info card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up.</p>
        </div>
    </div>
</div>
</div>   
{% endblock %}