{% extends "layout/base.html" %}

{% block 'title'%} Repuesto {% endblock %}


{% block 'content' %}

<div class="container">

    <div class="d-flex p-2 justify-content-between">
        <a class="text-decoration-none text-dark flecha-atras" href="{% url "index" %}">
            <i class="bi bi-arrow-left fs-1"></i>
        </a>
        <div class="pt-2 me-3 me-md-0">
            <button type="button" class="ms-1 fs-3 me-1 me-md-4 bg-transparent border-0 text-secondary mas" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <i class="bi bi-plus-circle"></i>
            </button>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Nueva máquina</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form method="post">
                                {% csrf_token %}
                                {{ form }}
                                <div class="d-grid gap-2 mt-3">
                                    <button type="submit" class="btn btn-secondary">Guardar</button>
                                </div>
                            </form> 
                        </div>
                    </div>
                </div>
            </div>
            <a class="ms-1 fs-3 me-1 me-md-4 text-decoration-none text-success tabla" href="{% url "tabla_general" %}">
                <i class="bi bi-inboxes"></i>
            </a>
            <a type="button" class="btn btn-tranparent position-relative p-0 mb-0 me-1 me-md-5 alert" href="{% url "alerta_repuesto" %}">
                <i class="bi bi-bell-fill fs-3 text-warning"></i>
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    {{ total_alertas }}+
                    <span class="visually-hidden">unread messages</span>
                </span>
            </a>
        </div>
    </div>

    <div class="container cabecera shadow bg-secondary bg-opacity-50 p-4 bw-5">
        <h1 class="text-center text-light display-1"><strong>REPUESTO</strong></h1>
    </div>

    <div class="mt-2 ps-5 pe-5">
        
        <div class="table-responsive">
        <table class="table table-striped mt-4 shadow">
            <tr class="border border-end-0 border-start-0 border-top-0 border-3 border-dark-subtle">
                <th>Máquina</th>
                <th>ver inventario de partes y piezas</th>
                <th>Eliminar</th>
            </tr>
            {% for maquina in maquinas %}
            <tr>
                <td>{{ maquina.nombre }}</td>
                <td>
                    <a class="btn btn-info btn-sm" href="{% url "detalles_repuesto_maquina" id=maquina.id %}"><i class="bi bi-pencil-square"></i></a>
                </td>
                <td>
                    <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#modal-eliminar{{ maquina.id }}">
                        <i class="bi bi-trash"></i>
                    </button>
                    <div class="modal fade" id="modal-eliminar{{ maquina.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Atención</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Esta seguro de <b>eliminar</b> esta herramienta</b>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                <a class="btn btn-danger" href="{% url "eliminar_repuesto_maquina" id=maquina.id %}">Estoy seguro</a>
                            </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </table>
        </div>

    </div>

</div>

{% endblock %}
