{% extends "layout/base.html" %}

{% load static %}

{% block 'title'%} Detalles Maquina {% endblock %}


{% block 'content' %}
<div class="container mb-5">
    <div class="d-flex p-2 justify-content-between">
        <a class="text-decoration-none text-dark flecha-atras" href="{% url "vehiculo" %}">
            <i class="bi bi-arrow-left fs-1"></i>
        </a>
        <span class="p-3">

            <a class="btn custom shadow rounded-pill viajes" href="{% url "viaje" id=vehiculo.id %}">viajes <i class="bi bi-car-front"></i></a>
            
            <button type="button" class="btn custom imagen shadow rounded-pill" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Ver Imagen <i class="bi bi-image"></i>
            </button>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Imagen</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img src="{{ vehiculo.image.url }}" class="img-fluid" alt="Imagen">
                        </div>
                    </div>
                </div>
            </div>

            <button type="button" class="btn custom editar shadow rounded-pill" data-bs-toggle="modal" data-bs-target="#modal-editar">
                Editar <i class="bi bi-pencil-square"></i>
            </button>
            <div class="modal fade modal-lg" id="modal-editar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Editar <b>{{ vehiculo.marca }} {{ vehiculo.modelo }}</b></h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form class="p-5 rounded-3 bg-body-tertiary sombra-login" action="{% url "detalles_vehiculo" id=vehiculo.id %}" method='POST' enctype="multipart/form-data">
                                {% csrf_token %}
                                <table>
                                    {{ form }}
                                </table>
                                <div class="d-grid gap-2 mt-3">
                                    <button type="submit" class="btn btn-secondary">Guardar</button>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>
            
            <button type="button" class="btn custom eliminar mt-md-0 mt-2 shadow rounded-pill" data-bs-toggle="modal" data-bs-target="#modal-eliminar">
                Eliminar <i class="bi bi-trash"></i>
            </button>
            <div class="modal fade" id="modal-eliminar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Atención</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Esta seguro de <b>eliminar</b> <b>"{{ vehiculo.marca }} {{ vehiculo.modelo }}"</b>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <form method="post" action="{% url "eliminar_vehiculo" id=vehiculo.id %}">
                            {% csrf_token %}
                            <input type="hidden" name="vehiculo_id" value="{{ maquina.id }}">
                            <button class="btn btn-danger" type="submit">Estoy seguro</button>
                        </form>
                    </div>
                    </div>
                </div>
            </div>
        </span>
    </div>

    <h3 class="mt-1 text-uppercase">Datos de {{ vehiculo.marca }} {{ vehiculo.modelo }}</h3>
    <div class="table-responsive">
        <table class="table table-striped shadow">
            <thead>
                <tr class="border border-end-0 border-start-0 border-top-0 border-3 border-dark-subtle">
                    <th scope="col">Marca</th>
                    <th scope="col">Modelo</th>
                    <th scope="col">Matrícula</th>
                    <th scope="col">número_de_chasis</th>
                    <th scope="col">Motor</th>
                    <th scope="col">KM recorridos</th>
                    <th scope="col">Intervalo de mantenimiento correctivo</th>
                    <th scope="col">Intervalo para cambio del filtro de aceite</th>
                    <th scope="col">Intervalo para cambio del filtro de aire y combustible</th>
                    <th scope="col">Intervalo para cambio del filtro de caja y corona</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ vehiculo.marca }}</td>
                    <td>{{ vehiculo.modelo }}</td>
                    <td>{{ vehiculo.matricula }}</td>
                    <td>{{ vehiculo.número_de_chasis }}</td>
                    <td>{{ vehiculo.motor }}</td>
                    <td>{{ vehiculo.km_recorridos }}</td>
                    <td>{{ vehiculo.intervalo_mantenimiento }}</td>
                    <td>{{ vehiculo.intervalo_mantenimiento_cambio_filtro_aceite }}</td>
                    <td>{{ vehiculo.intervalo_mantenimiento_cambio_filtro_aire_combustible }}</td>
                    <td>{{ vehiculo.intervalo_mantenimiento_cambio_filtro_caja_corona }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <h3 class="mt-1 text-uppercase">Datos del chofer</h3>
    <div class="table-responsive">
        <table class="table table-striped shadow">
            <thead>
                <tr class="border border-end-0 border-start-0 border-top-0 border-3 border-dark-subtle">
                    <th scope="col">Nombre del Chofer</th>
                    <th scope="col">Nombre de Usuario</th>
                    <th scope="col">Contraseña del chofer</th>
                    <th scope="col">Teléfono del chofer</th>
                    <th scope="col">Dirección del chofer</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ vehiculo.nombre_chofer }}</td>
                    <td>{{ vehiculo.nombre_usuario_chofer }}</td>
                    <td>{{ vehiculo.contraseña_chofer }}</td>
                    <td>{{ vehiculo.teléfono_chofer }}</td>
                    <td>{{ vehiculo.dirección_chofer }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    
    <div class="row mt-3 d-flex justify-content-center align-item-center ps-5 pe-5">
        <div class="col-12 col-md-2 p-0 card m-3 shadow-lg custom">
            <a class="text-decoration-none text-dark" href="{% url "mantenimientos_vehiculo_preventivo" id=vehiculo.id %}">
                <img src="{% static "images/mantenimiento-preventivo-autos-1.jpg" %}" class="card-img-top" alt="..." style="max-height: 100px;">
                <div class="card-body custom">
                    <h6 class="card-title text-uppercase">Mantenimientos Preventivo</h6>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-2 p-0 card m-3 shadow-lg custom">
            <a class="text-decoration-none text-dark" href="{% url "mantenimientos_vehiculo_correctivo" id=vehiculo.id %}">
                <img src="{% static "images/mantenimineto_correctivo_vehiculo.jpg" %}" class="card-img-top" alt="..." style="max-height: 100px;">
                <div class="card-body custom">
                    <h6 class="card-title text-uppercase">Mantenimientos Correctivo</h6>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-2 p-0 card m-3 shadow-lg custom">
            <a class="text-decoration-none text-dark" href="{% url "mantenimientos_vehiculo_cambio_filtro_aceite" id=vehiculo.id %}">
                <img src="{% static "images/taller-mecanico-859x483.jpg" %}" class="card-img-top" alt="..." style="max-height: 100px;">
                <div class="card-body custom">
                    <h6 class="card-title text-uppercase">Cambio del filtro de aceite</h6>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-2 p-0 card m-3 shadow-lg custom">
            <a class="text-decoration-none text-dark" href="{% url "mantenimientos_vehiculo_cambio_filtro_aire_combustible" id=vehiculo.id %}">
                <img src="{% static "images/filtro-del-aire-coche--860x573.jpg" %}" class="card-img-top" alt="..." style="max-height: 100px;">
                <div class="card-body custom">
                    <h6 class="card-title text-uppercase">Cambio del filtro de aire y combustible</h6>
                </div>
            </a>
        </div>
        <div class="col-12 col-md-2 p-0 card m-3 shadow-lg custom">
            <a class="text-decoration-none text-dark" href="{% url "mantenimientos_vehiculo_cambio_filtro_caja_corona" id=vehiculo.id %}">
                <img src="{% static "images/sstt-min.jpg" %}" class="card-img-top" alt="..." style="max-height: 100px;">
                <div class="card-body custom">
                    <h6 class="card-title text-uppercase">Cambio de aceite de caja y corona</h6>
                </div>
            </a>
        </div>
    </div>

</div>

{% endblock %}
