{% extends "layout/base.html" %}

{% block 'title'%} Vehiculos {% endblock %}


{% block 'content' %}

<div class="container">

    <div class="d-flex p-2 justify-content-between">
        <a class="text-decoration-none text-dark flecha-atras" href="{% url "index" %}">
            <i class="bi bi-arrow-left fs-1"></i>
        </a>
        <div class="pt-2 me-3 me-md-0">
            <a class="ms-1 fs-3 me-1 me-md-4 text-decoration-none text-secondary mas" href="{% url "nuevo_vehiculo" %}">
                <i class="bi bi-plus-circle"></i>
            </a>        
            <a class="ms-1 fs-3 me-1 me-md-4 text-decoration-none text-success tabla" href="{% url "vehiculo_tabla_mantenimientos" %}">
                <i class="bi bi-inboxes"></i>
            </a>
            <a type="button" class="btn btn-tranparent position-relative p-0 mb-0 me-1 me-md-5 alert" href="{% url "maquina_alertas" %}">
                <i class="bi bi-bell-fill fs-3 text-warning"></i>
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    {{ total_alertas }}+
                    <span class="visually-hidden">unread messages</span>
                </span>
            </a>
        </div>
    </div>

    <div class="container cabecera shadow bg-primary bg-opacity-50 p-4 bw-5">
        <h1 class="text-center text-light display-1"><strong>VEHICULOS</strong></h1>
        <h5 class="text-center text-light text-uppercase">Cantidad total: {{ total_vehiculos }}</h5>
    </div>

    <div class="row mt-5 d-flex justify-content-center align-item-center ps-5 pe-5">
        {% for vehiculo in vehiculos %}
        <div class="col-12 col-md-3 card carta-home p-0 m-3">
            <a class="text-decoration-none text-dark" href="{% url "detalles_vehiculo" id=vehiculo.id %}">
                <img src="{{ vehiculo.image.url }}" class="card-img-top" alt="..." style="max-height: 200px;">
                <div class="card-body">
                    <h5 class="card-title">{{ maquina.nombre }}</h5>
                    <p class="card-text m-0"><b>Marca:</b> {{ vehiculo.marca }}</p>
                    <p class="card-text m-0"><b>Modelo:</b> {{ vehiculo.modelo }}</p>
                    <p class="card-text m-0"><b>Chofer:</b> {{ vehiculo.nombre_chofer }}</p>
                    <p class="card-text m-0"><b>Km Recorridos:</b> {{ vehiculo.km_recorridos }}</p>
                    <p class="card-text m-0"><b>Ultimo mantenimiento:</b> {{ vehiculo.fecha_ultimo_mantenimiento }}</p>
                </div>      
            </a>
        </div>
        {% endfor %}
    </div>

</div>

{% endblock %}
