{% extends "layout/base.html" %}

{% load static %}

{% block 'title'%} Hoja de Ruta de Vehiculo {% endblock %}


{% block 'content' %}
<div class="container mb-5">
    <div class="d-flex p-2 justify-content-between">
        {% if user.is_authenticated %}
        <a class="text-decoration-none text-dark flecha-atras" href="{% url "detalles_vehiculo" id=vehiculo.id %}">
            <i class="bi bi-arrow-left fs-1"></i>
        </a>
        {% endif %} 

        <span class="p-3">
            {% if user.is_authenticated %}
            <button type="button" class="btn btn-success descargar shadow rounded-pill" data-bs-toggle="modal" data-bs-target="#modal-descargar">
                Descargar <i class="bi bi-box-arrow-down "></i>
            </button>
            <div class="modal fade" id="modal-descargar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Descargar </h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form class="" action="{% url "documento_viajes_vehiculo" id=vehiculo.id %}" method="get">
                            <label class="" for="mes">Mes:</label>
                            <select class="form-select form-select-sm" name="mes" id="mes">
                                <option value="">Todos los meses</option>
                                <option value="1">Enero</option>
                                <option value="2">Febrero</option>
                                <option value="3">Marzo</option>
                                <option value="4">Abril</option>
                                <option value="5">Mayo</option>
                                <option value="6">Junio</option>
                                <option value="7">Julio</option>
                                <option value="8">Agosto</option>
                                <option value="9">Septiembre</option>
                                <option value="10">Octubre</option>
                                <option value="11">Noviembre</option>
                                <option value="12">Diciembre</option>
                            </select>
                            <label class="" for="anio">Año:</label>
                            <select class="form-select form-select-sm" name="anio" id="anio">
                                <option value="2024">2024</option>
                                <option value="2025">2025</option>
                                <option value="2026">2026</option>
                                <option value="2027">2027</option>
                                <option value="2028">2028</option>
                                <option value="2029">2029</option>
                                <option value="2030">2030</option>
                            </select>
                            
                            <div class="d-grid gap-2 mt-3">
                                <button type="submit" value="Submit" class="btn btn-success">Descargar <i class="bi bi-box-arrow-down"></i></button>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                    </div>
                </div>
            </div>
            {% endif %} 

            <a class="btn btn-warning mantenimineto shadow rounded-pill" href="{% url "nuevo_viaje_vehiculo" id=vehiculo.id %}">nuevo viaje <i class="bi bi-car-front"></i></a>
        </span>
    </div>

    <h3 class="mt-1 text-uppercase">hoja de ruta de {{ vehiculo.marca }} {{ vehiculo.modelo }}</h3>
    <div class="table-responsive">
        <table class="table table-striped shadow">
            <thead>
                <tr>
                    <th scope="col">Origen</th>
                    <th scope="col">Destino</th>
                    <th scope="col">Fecha de salida</th>
                    <th scope="col">hora de salida</th>
                    <th scope="col">Kilometraje de salida</th>
                    <th scope="col">Imagen de salida</th>
                    <th scope="col">Fecha de llegada</th>
                    <th scope="col">Hora de llegada</th>
                    <th scope="col">Kilometraje de llegada</th>
                    <th scope="col">imagen de llegada</th>
                    {% if user.is_authenticated %}
                        <th scope="col">Modificar</th>
                        <th scope="col">Eliminar</th>
                    {% endif %} 
                </tr>
            </thead>
            <tbody>
                {% for viaje in viajes %}
                <tr>
                    <td>{{ viaje.origen }}</td>
                    <td>{{ viaje.destino }}</td>
                    <td>{{ viaje.fecha_salida }}</td>
                    <td>{{ viaje.hora_salida }}</td>
                    <td>{{ viaje.kilometraje_de_salida }}</td>
                    <td>
                        <button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal{{ viaje.id }}1">
                            Ver Imagen
                        </button>
                        <div class="modal fade" id="exampleModal{{ viaje.id }}1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Imagen</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <img src="{{ viaje.imagen_de_salida.url }}" class="img-fluid" alt="Imagen">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>{{ viaje.fecha_llegada }}</td>
                    <td>{{ viaje.hora_llegada }}</td>
                    <td>{{ viaje.kilometraje_de_llegada }}</td>
                    <td>
                        <button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal{{ viaje.id }}2">
                            Ver Imagen
                        </button>
                        <div class="modal fade" id="exampleModal{{ viaje.id }}2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Imagen</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <img src="{{ viaje.imagen_de_llegada.url }}" class="img-fluid" alt="Imagen">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    {% if user.is_authenticated %}
                    <td>
                        <a class="btn btn-info btn-sm" href="{% url "mod_viaje_vehiculo_admin" id=viaje.id %}">Modificar</a>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#modal-eliminar">
                            Eliminar
                        </button>
                        <div class="modal fade" id="modal-eliminar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Atención</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Esta seguro de <b>eliminar</b> este mantenimiento</b>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                    <a class="btn btn-danger" href="{% url "eliminar_viaje" id=viaje.id %}">Estoy seguro</a>
                                </div>
                                </div>
                            </div>
                        </div>
                    </td>
                    {% endif %} 
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

</div>

{% endblock %}
